<div class="bdfill">
  <div class="lol">
    <%= image_tag("lol.gif", alt: "lol") =%>
    <br><br>
    Token invalid or expired
    <br>
    Please generate new QrCode Payment
  </div>
</div>
